name: Run Core library tests
on: [push]
jobs:
  Test:
    container:
      image: "bash:${{ matrix.bash_version }}"
#       volumes:
#         - my_docker_volume:/volume_mount
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bash_version:
          - "4.3"
          - "4.4"
          - "5.0"
          - "5.1"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Init Bats submodules
        run: |
          pwd
          git submodule init
          git submodule update

      - name: Run tests
        run: ./test/bats/bin/bats ./test/test.bats
